echo "*.html linguist-vendored" >> .gitattributes
echo "*.js linguist-vendored" >> .gitattributes
echo "*.css linguist-vendored" >> .gitattributes
echo "docs/** linguist-vendored" >> .gitattributes
echo "assets/** linguist-vendored" >> .gitattributes
